<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Health-A-Plenty</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="site.webmanifest">
	<link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/assets/css/slicknav.css">
	<link rel="stylesheet" href="../static/assets/css/flaticon.css">
	<link rel="stylesheet" href="../static/assets/css/gijgo.css">
	<link rel="stylesheet" href="../static/assets/css/animate.min.css">
	<link rel="stylesheet" href="../static/assets/css/animated-headline.css">
	<link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="../static/assets/css/themify-icons.css">
	<link rel="stylesheet" href="../static/assets/css/slick.css">
	<link rel="stylesheet" href="../static/assets/css/nice-select.css">
	<link rel="stylesheet" href="../static/assets/css/style.css">
</head>
<body>
	<!-- ? Preloader Start -->
	<div id="preloader-active">
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="preloader-circle"></div>
				<div class="preloader-img pere-text">
					<img src="../static/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="{{ url_for('home')}}"><img src="../static/assets/img/logo/logo.png" alt="" width="274px" height="70px"></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">
                                            <li><a href="{{ url_for('home')}}">Home</a></li>
                                            <li><a href="{{ url_for('about')}}">About-Us</a></li>
                                            <li><a style="cursor:pointer;"> Services</a>
                                                <ul class="submenu">
                                                    <li><a href="{{ url_for('service')}}">Diagnosis</a></li><br>

                                                    <li><a href="{{ url_for('corona')}}">Covid Detector</a></li><br>
                                                    <li><a href="https://nearbyhospitalapp.herokuapp.com/">Nearby Pharmacies</a></li><br>
                                                    <li><a href="https://nearbyhospitalapp.herokuapp.com/map">Nearby Hospital</a></li><br>
                                                    <li><a href="{{ url_for('community')}}">Community Chat</a></li><br>
                                                    <li><a href="https://healthbuddyhap.herokuapp.com/">Doctor on Call</a></li><br>
                                                </ul>
                                            </li>
                                            <li><a href="{{ url_for('firstaid')}}">First-Aid</a></li>
                                            <li><a href="{{ url_for('contact')}}">Contact</a></li>
                                            <li><a href="{{ url_for('viewappointment')}}">Appointments</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-15">
                                    <a href="{{ url_for('appointmentform')}}" class="btn header-btn"> Make an Appointment</a>
                                </div>
                            </div>
                        </div>  
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <div class="alan-btn"></div>
        <div class="slider-area slider-area2">
            <div class="slider-active dot-style">
                <!-- Slider Single -->
                <div class="single-slider  d-flex align-items-center slider-height2">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-lg-8 col-md-10 ">
                             <div class="hero-wrapper">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".3s">About</h1>
                                    <p data-animation="fadeInUp" data-delay=".6s">We pave the way for your better health.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        </div>
        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-9 mt-sm-20">
                            {% block body %}
                            {% endblock %}
                        </div>
                    </div>
                </div>

    </main>
    <footer>
        <div class="footer-wrappr section-bg3" data-background="../static/assets/img/gallery/footer-bg.png">
            <div class="footer-area footer-padding ">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="{{ url_for('home')}}"><img src="../static/assets/img/logo/logo.png" alt="" width="280px" height="80px"></a>
                                </div>
                                <d iv class="header-area">
                                    <div class="main-header main-header2">
                                        <div class="menu-main d-flex align-items-center justify-content-start">
                                            <!-- Main-menu -->
                                            <div class="main-menu main-menu2">
                                                <nav> 
                                                    <ul>
                                                        <li><a href="{{ url_for('home')}}">Home</a></li>
                                                        <li><a href="{{ url_for('about')}}">About-Us</a></li>
                                                        <li><a style="cursor:pointer;"> Services</a>
                                                            <ul class="submenu">
                                                                 
                                                                <li><a href="{{ url_for('corona')}}">Covid Detector</a></li><br>
                                                                <li><a href="https://nearbyhospitalapp.herokuapp.com/map">Nearby Hospital</a></li><br>
                                                                <li><a href="https://nearbyhospitalapp.herokuapp.com/">Nearby Pharmacies</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="{{ url_for('firstaid')}}">First-Aid</a></li>
                                                        <li><a href="{{ url_for('contact')}}">Contact</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>  
                                    </div>
                                </d>
                                <!-- social -->
                                <div class="footer-social mt-50">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="single-footer-caption">
                                <div class="footer-tittle mb-50">
                                    <h4>Subscribe newsletter</h4>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                            <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                    Subscribe
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Subscribe and push away your Health issues.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row">
                            <div class="col-xl-10 ">
                                <div class="footer-copy-right">
                                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a target="_blank">Night Coders</a>
                                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </footer>
    
    
    <!-- Firebase Config -->
    <script src="https://www.g../static.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.g../static.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.g../static.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.g../static.com/firebasejs/8.8.1/firebase.js"></script>
      <script>
          var firebaseConfig = {
            apiKey: "AIzaSyD1OWAs98vA5KO_MbmaZeZYCQHdfZ5deuE",
            authDomain: "health-a-plenty.firebaseapp.com",
            databaseURL: "https://health-a-plenty-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "health-a-plenty",
            storageBucket: "health-a-plenty.appspot.com",
            messagingSenderId: "495387763561",
            appId: "1:495387763561:web:379bc47110e8dbea5653f8"
          };
          firebase.initializeApp(firebaseConfig);
     
      </script>
    
    <script type="text/javascript" src="https://studio.alan.app/web/lib/alan_lib.min.js"></script>
    
    <script>
     var alanBtnInstance = alanBtn({
       key: "bdf447dc1dfabc01b33c04cbb5f5074a2e956eca572e1d8b807a3e2338fdd0dc/stage",
       onCommand: function (commandData) {
         if (commandData.command === "headache") 
         {
            window.location.href="/disease/Backpain_Headache_Wateryeyes_Chestpain"
         }
         if (commandData.command === "showapp") 
         {
            window.location.href="/viewappointment"
         }
         if (commandData.command === "covid") 
         {
            window.location.href="/corona"
         }
         if (commandData.command === "pharma") 
         {
            window.location.href="https://nearbyhospitalapp.herokuapp.com/"
         }
         if (commandData.command === "hosp") 
         {
            window.location.href= "https://nearbyhospitalapp.herokuapp.com/map"
         }
         if (commandData.command === "doconcall") 
         {
            window.location.href="https://healthbuddyhap.herokuapp.com/"
         }
         if (commandData.command === "firstaid") 
         {
            window.location.href="/firstaid"
         }
         if (commandData.command === "appoint") 
         {
            window.location.href= "/appointmentform"
         }
       },
       rootEl: document.getElementById("alan-btn"),
     });
    </script>
    
    <script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../static/assets/js/jquery.slicknav.min.js"></script>
    
    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../static/assets/js/owl.carousel.min.js"></script>
    <script src="../static/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../static/assets/js/wow.min.js"></script>
    <script src="../static/assets/js/animated.headline.js"></script>
    <script src="../static/assets/js/jquery.magnific-popup.js"></script>
    
    <!-- Date Picker -->
    <script src="../static/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="../static/assets/js/jquery.nice-select.min.js"></script>
    <script src="../static/assets/js/jquery.sticky.js"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="../static/assets/js/jquery.counterup.min.js"></script>
    <script src="../static/assets/js/waypoints.min.js"></script>
    <script src="../static/assets/js/jquery.countdown.min.js"></script>
    <script src="../static/assets/js/hover-direction-snake.min.js"></script>
    
    <!-- contact js -->
    <script src="../static/assets/js/contact.js"></script>
    <script src="../static/assets/js/jquery.form.js"></script>
    <script src="../static/assets/js/jquery.validate.min.js"></script>
    <script src="../static/assets/js/mail-script.js"></script>
    <script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="../static/assets/js/plugins.js"></script>
    <script src="../static/assets/js/main.js"></script>
    
    </body>
    </html>